* {
    font-family: 'Josefin Sans', sans-serif;
}

.cardPosyandu{
    margin-top: 20px;
    margin-left: 30px;
    background-color: #ADD0D8;
    color: #030A48;
    padding: 20px;
    text-align: center;
    width: 200px;
    height: 150px;
    border-radius: 30px;
}



.bg-light-white {
    background-color: whitesmoke; 

}

.navbar {
    background-color: #D5E8EC;
    height: 70px;
}

.btnLogout {
    background-color: red;
    color: white;   
    text-decoration: none; 
    padding: 10px 20px; 
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.sidebar {
    background-color: #3F75C3;
    color: white;
    width: 220px;
    height: 600px;
    margin-left: -90px;
    margin-top: -120px;
    text-decoration: none;
    float: left; 

}

.sidebar li {
    padding-top: 30px;
    padding-left: 20px;
    list-style: none; 
    color: white; 
    display: flex; /* Menggunakan flexbox untuk mengatur layout */
    align-items: center; /* Mengatur vertikal align ke tengah */
}

.sidebar li a {
    color: white; 
    text-decoration: none;
}

.sidebar li img {
    margin-bottom: 5px;
    margin-right: 10px; 
}
h2 {
    margin-left: 210px; 
}
.garis-vertikal {
    width: 2px; /* Lebar garis vertikal */
    height: 20px; /* Tinggi garis vertikal */
    background-color: #030A48; /* Warna garis vertikal (contoh: hitam) */
    display: inline-block; /* Untuk mengatur elemen dalam satu baris */
}
.dashboard {
    font-size: 12px;
    color: #030A48;
    text-decoration: none;
}
.hi {
    font-size: 12px;
    color: #030A48;
    margin-left: 210px;
    height: 50px;
    background-color: #D9D9D9;
    display: flex; /* Menggunakan flexbox untuk mengatur tata letak */
    align-items: center; /* Mengatur vertikal align ke tengah */
    padding-top: 5px; /* Jarak di atas elemen */
    padding-left: 10px; /* Jarak di sebelah kiri elemen */
    border-radius: 10px;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}





